html {
	font-family: "Roboto", sans-serif;
	/* font-size: 24px; */
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
}
/* parent */
header {
	display: flex;
	background-color: rgba(1, 24, 39, 1);
	/* size */
	height: 144px;
	width: 100%;
}
header img {
	float: left;
	margin-top: 26px;
	margin-left: 27px;
	/* size */
	width: 128px;
	height: 82px;
}
.logoText {
	color: white;
	width: 78px;
	height: 84px;
	top: 25px;
	left: 168px;
	line-height: 28.13px;
	font-size: 24px;
	margin-left: 10px;
	margin-top: 25px;
}
.hackerImg img {
	width: 100%;
}
/* parent */
.challenges {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
.challenges .challengesBtn {
	display: block;
	background-color: #8acfe5;
	border-radius: 5px;
	border: none;
	font-size: 24px;
	/* size */
	height: 66px;
	width: 308px;
}
.challenges .challengesLink {
	color: rgba(54, 118, 157, 1);
	font-size: 16px;
	margin-bottom: 30px;
	margin-top: 30;

	/* center */
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 129px;
}

/* parent */
.quoteFace {
	display: block;
}
.quoteFace img {
	float: left;
	margin-top: 25px;
	margin-left: 21px;
	padding: 0 20px 80px 0;
}

.quoteText {
	font-size: 24px;
	margin-right: 24px;
	margin-bottom: 10px;
}
.quoteVisit {
	font-size: 18px;
}
/*  */
.header2 {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	font-size: 32px;
	font-weight: 400;
}
/* parent scroll */
.containerScroll {
	/* background-color: pink; */
	/*  */
	height: 480px;
	display: flex;
	overflow-x: scroll;
	gap: 1px;
	margin-left: 20px;
}
/* card */
.containerScrollCard {
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 363px;
	height: 446px;

	flex-shrink: 0;
	margin: 20px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}
/* card img */
.containerScrollCard img {
	width: 100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
/* card text */
.cardText {
	font-size: 28px;
	font-family: "Roboto";
	font-weight: 400;

	margin-top: 0;
	margin-bottom: 0;
	margin-left: 15px;
	padding-bottom: 0;
}
/* cardStars */
.cardStars {
	display: flex;
	margin-left: 20px;
}
.cardStars img {
	width: 23.08px;
	height: 26px;
}
.cardStars p {
	margin-top: 0;
	padding-left: 10px;
	font-size: 20px;
	font-family: "Roboto";
	font-size: 400;
}
/*  */
.cardInfo {
	font-size: 18px;
	font-family: "Roboto";
	font-weight: 400;
	width: 328px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}

/* cardBtnDiv */
.cardBtnDiv {
	display: flex;
	justify-content: flex-end;
}
/* cardBtn */
.cardBtn {
	background-color: rgba(227, 23, 10, 1);
	color: rgba(255, 255, 255, 1);
	font-size: 16px;
	font-family: "Roboto";
	font-weight: 700;
	width: 179.28px;
	height: 44px;

	border-radius: 8px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: 12px;
	border: none;
}

.hackerBio {
	/* center */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
	text-align: center;

	background-color: rgba(1, 24, 39, 1);
	color: rgba(255, 255, 255, 1);
	width: 100%;
	font-family: "Roboto";
	font-size: 28px;
	font-weight: 400;
}

.hackerBioBtn {
	width: 308px;
	height: 66px;

	cursor: pointer;
	font-family: "roboto";
	font-size: 24px;
	font-weight: 700;
	background-color: transparent;
	color: rgba(138, 207, 229, 1);
	border: 2px solid rgba(138, 207, 229, 1);
	margin-top: 35px;
}

.picture {
	height: 300px;
	width: 100%;
}
/* booking */
.infoDump {
	padding-top: 20px;
	padding-left: 20px;
}
.infoDump span {
	font-size: 32px;
	font-family: "Roboto";
	font-weight: 700;
}
.infoDump p {
	font-family: "Roboto";
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 30px;
}
.infoBtn {
	/* size */
	width: 308px;
	height: 66px;
	background-color: rgba(227, 23, 10, 1);
	color: rgba(255, 255, 255, 1);
	border-radius: 4px;
	border: none;
	margin-bottom: 30px;
	/* font */
	font-size: 24px;
	font-weight: 700;
	font-family: "Roboto";
}

footer {
	background-color: rgba(1, 24, 39, 1);
	height: 566px;
	padding-left: 22px;
	padding-top: 22px;
	/* font */
	font-family: "Roboto";
	color: rgba(255, 255, 255, 1);
}
footer h3,
p {
	font-weight: 700;
	font-size: 18px;
}
footer p {
	font-weight: 400;
}

footer ul {
	list-style-type: none;
}

.lastItem {
	margin-bottom: 68px;
}

/* 400 */
/* text Styles */
.roboto-bold {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.roboto-regular-italic {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: italic;
}
